.k-line-chart-menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    font-size: 12px;
    color: #606060;
    button {
      cursor: pointer;
      background-color: #2196F3;
      border-radius: 2px;
      margin-right: 8px;
      height: 24px;
      line-height: 26px;
      padding: 0 6px;
      font-size: 12px;
      color: #fff;
      border: none;
      outline: none;
    }
}